.bi-lightning-fill{
 color: yellow;
}
.heading-xxxs {
    font-size: .6875rem
}

.heading-xxs,.heading-xxxs {
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase
}

.heading-xxs {
    font-size: .8125rem
}
[data-cart-items] {
    display: inline-block;
    position: relative
}

[data-cart-items]:before {
    align-items: center;
    background-color: #e95042;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    content: attr(data-cart-items);
    display: flex;
    font-size: 11px;
    font-weight: 500;
    height: 19px;
    justify-content: center;
    position: absolute;
    right: -.75rem;
    top: -.5rem;
    width: 19px
}